  /* input.css */
  
  .inputFiltro {
    margin-bottom: 20px;
  }
  
  .inputFiltro input {
    width: 50%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .inputFiltro input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }
  