/* table.css */

.table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 5px;
   

  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    border-color: #4CAF50;

  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
